@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Start purging... */
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

.connector {
	fill: none;
	stroke: #4299e1;
	stroke-width: 2;
	-webkit-box-shadow: 6px 6px 28px -2px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 6px 6px 28px -2px rgba(0, 0, 0, 0.75);
	box-shadow: 6px 6px 28px -2px rgba(0, 0, 0, 0.75);
	-webkit-filter: drop-shadow(-5px -5px 5px #000);
	filter: drop-shadow(-5px -5px 5px #000);
}
/* 
.connector-click-area {
	cursor: pointer;
	fill: none;
	stroke: transparent;
	stroke-width: 15;
}

.connector-click-area:hover + .connector,
.connector:hover {
	cursor: pointer;
	stroke-width: 4;
}

.connector.selected {
	stroke: #337ab7;
} */
