@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Start purging... */
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

.bg-grid {
  background-size: var(--grid-size) var(--grid-size);
  background-image: linear-gradient(
      to right,
      var(--grid-color) 2px,
      transparent 1px
    ),
    linear-gradient(to bottom, var(--grid-color) 2px, transparent 1px);
}

.camera {
  --trans-y: calc(0px - var(--y) / var(--zoom));
  --trans-x: calc(0px - var(--x) / var(--zoom));
  transform: scale(var(--zoom)) translateX(var(--trans-x))
    translateY(var(--trans-y));
  transform-origin: 0px 0px;
}

/* 
.connector-click-area {
	cursor: pointer;
	fill: none;
	stroke: transparent;
	stroke-width: 15;
}

.connector-click-area:hover + .connector,
.connector:hover {
	cursor: pointer;
	stroke-width: 4;
}

.connector.selected {
	stroke: #337ab7;
} */

ul,
li {
  list-style-type: none;
  margin: 0 0 0 8px;
  padding: 0;
  border: none;
}

li > button {
  background: transparent;
  border: none;
  outline: none;
  font-weight: bold;
  margin: 0;
}

.number {
  color: #1a01cc;
}

.text {
  color: #0b7552;
}

.null {
  color: lightgray;
}

.toggle-button {
  margin-left: -12px;
  position: absolute;
}
